<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive/base/base.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>
{% include 'base/header.html' %}

{% block content %}
{% endblock %}

{% include 'base/footer.html' %}

{% block js %}
{% endblock %}

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
