{% extends 'base/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
<link rel="stylesheet" href="{%  static 'css/responsive/auth/login.css' %}">
{% endblock %}

{% block title %}Ro'yxatdan o'tish{% endblock %}

{% block content %}
<main>
    <div class="form">
        <h1>Ro'yxatdan o'tish</h1>
        <form action="{% url 'core:register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label>
                <input type="text" placeholder="Username" name="username" required>
            </label>
            <label>
                <input type="email" placeholder="Email" name="email" required>
            </label>
            <label>
                <input type="text" placeholder="First Name" name="first_name" required>
            </label>
            <label>
                <input type="text" placeholder="Last Name" name="last_name" required>
            </label>
            <label>
                <input type="file" accept="image/*" name="image" required>
            </label>
            <label>
                <input type="text" placeholder="Your role in Ibrat (position)" name="role" required>
            </label>
            <label for="password">Parol kamida 8 ta va harflar raqamlar va belgilardan iborat bo'lishi lozim!</label>
	    <input type="password" id="password" placeholder="Password" name="password" required>
            <button type="submit" class="primary">Ro'yxatdan o'tish</button>
        </form>
    </div>
</main>
{% endblock %}
